*{
    background-color: gray;
    color: aliceblue;
}

h1, h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: palevioletred;
}

#nav-links a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

#nav-links li a:hover {
    color: palevioletred;
}


#register-btn {
    display: inline-block;
    background: palevioletred;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

#register-btn:hover {
    background: #ff7aa2;
}
